<p class="aboutUs">
  Hello and welcome to our Online Super Market!<br/><br/>

  We want to welcome you to what will be the most unique and 'freshest' onling food shopping experience!<br/>
  We are very proud to write that we pick every product in our store in a way that insures the most fresh and valuable products in the market today.<br/>
  So go ahead and start shopping, you will be sure to come back again!<br/><br/>

  Sincerely, <br/>
  Your Online Super Market staff   <br/>
  <i class="fa fa-shopping-cart"></i>
</p>

